<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="End To End Suite" verbose="1" >
    <listeners>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>
    <test name="User Flow Tests">
        <classes>
            <class name="tests.RegisterTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.AddToCartTest"/>

        </classes>
    </test>
</suite>
